<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExtDriversFromLogs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ExtDriversFromLogs.Properties.Settings>
            <setting name="Language" serializeAs="Xml">
                <value>
                    <Language name="English">
                        <mainForm>
                            <colTruck>Truck</colTruck>
                            <colTag>Tag</colTag>
                            <colNickname>Game Nickname</colNickname>
                            <colGameID>Game ID</colGameID>
                            <groupOpen>Open log</groupOpen>
                            <btnOpen>Form today</btnOpen>
                            <btnOpenYesterday>From yesterday</btnOpenYesterday>
                            <btnOpenAnother>Open file</btnOpenAnother>
                            <groupSearch>Search</groupSearch>
                            <btnOptions>Options</btnOptions>
                            <btnExit>Exit</btnExit>
                            <menuOpenProfile>Open profile</menuOpenProfile>
                            <menuCopyName>Copy nickname</menuCopyName>
                            <menuCopyID>Copy ID</menuCopyID>
                        </mainForm>
                        <optionsForm>
                            <tabMain>Main</tabMain>
                            <tabAdv>Advanced</tabAdv>
                            <groupLanguage>Language</groupLanguage>
                            <groupOptionSearch>Search options</groupOptionSearch>
                            <chckById>Search by ID</chckById>
                            <chckByTag>Search by Tag</chckByTag>
                            <chckCCase>Case sensitive characters</chckCCase>
                            <btnSave>Save</btnSave>
                            <groupRegLine>Regular expression line</groupRegLine>
                            <lblRegAttention>Do not modify unless you know what it is!</lblRegAttention>
                            <btnRestore>Restore parameters</btnRestore>
                        </optionsForm>
                        <messages>
                            <msgNoFile>Log file {0} don't exist!</msgNoFile>
                            <msgEnterToRegLine>Attention, this string can break the program!</msgEnterToRegLine>
                        </messages>
                    </Language>
                </value>
            </setting>
            <setting name="regPattern" serializeAs="String">
                <value>\[(?&lt;tHours&gt;[\d{2}]+):(?&lt;tMinutes&gt;[\d{2}]+):(?&lt;tSeconds&gt;[\d{2}]+)\]\s+Spawning\s+GameTruck\s+\((?&lt;name&gt;.+)\((?&lt;gameID&gt;\d+)\)\s+-\s+TruckersMP\s+ID:(?&lt;ets2mpID&gt;\d+)(?&lt;adInfo&gt;.*)\)\s+Additional\s+data:\s+(?&lt;adData&gt;.+)[\s\S]\[00\]\s+.+\s+.\/def\/vehicle\/truck\/(?&lt;truck&gt;.+)\/data.sii.</value>
            </setting>
            <setting name="windowPositon" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>700, 300</value>
            </setting>
            <setting name="chckCCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtSearchLine" serializeAs="String">
                <value />
            </setting>
            <setting name="chckSearchByID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chckSearchByTag" serializeAs="String">
                <value>True</value>
            </setting>
        </ExtDriversFromLogs.Properties.Settings>
    </userSettings>
</configuration>